.NavbarItems{
    background: linear-gradient(90deg, rgb(100, 84, 234) 0%, rgba(43, 23, 432, 1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
